* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
#container {
  border: 3px solid black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
}
/* here by defauly flex direction in row if you want change column wise also 
 and if flex direction row wise then justify content arrange the elements row or horizental wise  and align content arrange the itemes vertically or column wise
and if flex direction column wise then justify content arrange the elements column or vertically wise  and align content arrange the itemes horizentally or  row wise
 and also display flex means it arrange the elements in row or column wise  and one more thing all elments are arranged in one row or column whenever the elements are not fit in to the mentioning size then automatically element size drecreses and the elelments are arranged in row or column only
 if you want same height and width the all items and placed in new row or column then use flex-wrap
 and space between in provide space between each element and space around it provide space around the lement
 if you want equal space of all elements use space-evenly
*/
.box {
  width: 100px;
  height: 100px;
  border: 3px solid rgb(12, 48, 252);
}
#box1 {
  background-color: rgb(245, 13, 129);
  /*order: 2;
  flex-grow: 1;*/
}
#box2 {
  background-color: rgb(35, 243, 62);
  /*order: 1;
  flex-grow: 5;
  flex-shrink: 2;*/
}
#box3 {
  background-color: orange;
  /* order: 3;*/
  align-self: flex-start;
}

/*
if you want particular elements placed differece place then mention order it place which is first and second like this
if you want paricular element size large then mention flex grow that if empty space have then it share that space mentioning number
if you do not want reduce the size of particular element use flex-shrink
if particlar items arrange in the vertically or horizentally use align-self if flex-direction is row it arrange vertically otherwise horizentally.

*/
