h1{
    border-radius: 5px;
    border-style: dotted;
    border-color: brown;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 40px;
}
span{
    border: 6px solid black;
    padding: 50px 20px 10px 50px;
}