* {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#container {
  width: 90%;
}
#first {
  display: flex;
  margin-top: 13px;
  flex-wrap: wrap;
}
.anc {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  margin-right: 20px;
  font-size: 20px;
}
#first1 {
  margin-left: 60%;
}
#sam {
  margin-left: 5%;
}
.anc:hover {
  color: orange;
  font-weight: bolder;
}
#second {
  margin-top: 3%;
  margin-left: 5%;
  width: 100%;
  display: flex;
  font-weight: bolder;
  flex-wrap: wrap;
}
#h1 {
  font-size: 74px;
}
#second1 {
  width: 30%;
}
#span {
  color: orange;
  font-weight: bolder;
}
#ptag {
  margin-top: 7%;
}
#btn {
  margin-top: 8%;
  border: 3px solid orange;
  background-color: orange;
  color: white;
  padding: 15px;
  border-radius: 8px;
  width: 200px;
  font-size: 20px;
}
#img {
  margin-left: 29%;
  margin-top: -5%;
}

#timing {
  width: 92%;
  background-color: black;
  color: orange;
  display: flex;
  height: 120px;
  border-radius: 7px;
  padding: 10px;
  margin-left: 8%;
}
pre {
  margin-top: 2%;
  padding-right: 10%;
  font-size: 20px;
}
.time {
  font-size: 14px;
}
#gallery1 {
  display: flex;
  margin-left: 12%;
  margin-top: 2%;
}
.gallery {
  margin-right: 12%;
}
img {
  border-radius: 8px;
}
.desc {
  margin-top: 5%;
}
.descdiv {
  display: flex;
  padding: 5px;
  padding-top: 5px;
  margin-top: 5px;
  background-color: white;
  background-color: black;
  color: orange;
}
.btn1 {
  border: 3px solid orange;
  background-color: orange;
  border-radius: 4px;
  width: 90px;
  color: white;
  padding: 5px;
  font-size: 18px;
}
.rupee {
  margin-left: 48%;
  margin-top: 3%;
}
#gallery2 {
  display: flex;
  margin-left: 12%;
  margin-top: 3%;
}

#totalgallery {
  display: flex;
  flex-wrap: wrap;
}
#btn2 {
  margin-left: 45%;
  margin-top: 3%;
  border: 5px solid orange;
  width: 190px;
  padding: 12px;
  background-color: orange;
  border-radius: 7px;
  color: white;
  font-weight: bolder;
}
#pizza {
  background-color: black;
  color: white;
  margin-top: 2%;
  margin-right: 0px;
  display: flex;

  height: 550px;
  width: 116%;

  margin-left: -5%;
}
#pizza1 {
  margin-left: 13%;
  margin-bottom: 5%;
}
#pizza2 {
  margin-top: 8%;
  width: 500px;
  margin-left: 20%;
}
#span2 {
  font-size: 30px;
  margin-bottom: 3%;
  display: block;
}
#span3 {
  font-size: 15px;
  margin-bottom: 10%;
}
#btn7 {
  padding: 17px;
  color: black;
  border-radius: 4px;
  width: 250px;
  margin-right: 15%;
}
#btn6 {
  padding: 17px;
  color: white;
  background-color: orange;
  border-radius: 4px;
  width: 150px;
  font-weight: bolder;
}
.footimag {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  color: orange;
}
.foot-icon {
  display: flex;
}
.footer-head {
  width: 33.33%;
  margin-left: 12%;
}
#footer {
  display: grid;
  column-gap: 1%;
  grid-template-columns: 52% 37% 14%;
}

#footer-main {
  margin-top: 4%;
}
ul {
  list-style-type: none;
  margin-top: 8%;
}
.foot-para {
  margin-bottom: 5%;
  font-weight: lighter;
  margin-top: 10%;
}
li {
  font-weight: lighter;
}
.foot-img {
  margin-bottom: 4%;
}
.head4 {
  margin-top: 18%;
}
body {
  width: auto;
}
.foot-link {
  margin-top: -15%;
}

@media (max-width: 1695px) {
  #timing {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
}
@media (max-width: 1499px) {
  #gallery1 {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
  #gallery2 {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
}
@media (max-width: 1205px) {
  #pizza {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    width: auto;
  }
  #pizz1 {
    height: auto;
    width: auto;
    margin-left: 0px;
  }
}

@media (max-width: 1676px) {
  #footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-head {
    margin-left: 0px;
  }
  .foot-link {
    margin-top: 0px;
  }
}
@media (max-width: 883px) {
  #second {
    margin-left: 0px;
    display: flex;
    height: auto;
    width: auto;
  }
  #img {
    margin-left: 0px;
    display: flex;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    display: inline;
  }
}
@media (max-width: 1512px) {
}

@media (max-width: 1612.8px) {
  #h1 {
    display: block;
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 625px) {
  #piz {
    width: 300px;
    height: 300px;
  }
  #pizza {
    width: fit-content;
  }
}
@media (max-width: 580px) {
  #img1 {
    height: 400px;
    width: 400px;
  }
  #timing {
    display: flex;
    margin-left: 0px;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 483.833px) {
  #timing {
    height: auto;
    display: flex;

    width: auto;
  }
}
@media (max-width: 467px) {
  pre {
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  #gallery1 {
    width: fit-content;
  }
  #h1 {
    font-size: 50px;
  }
}
